*{
	box-sizing: border-box;

}

html{
	position: relative;
	min-height: 100%;
}

h1,
h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;

}

body{
	background-image: url(../images/ep_naturalwhite.png);
	

}

p{
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}


h1{
	background-color: #4aaaa5;
	width: 20%;
	text-align: center;
	margin-left: 10%;
	float: left;
	display: inline;
	padding: 20px;
	color: #fff;
	font-size: 28px;
	font-weight: bold; 
	margin-bottom: 0;
	position: relative;
	bottom: 0;

}

header{
	background: #fff;
	
	width: 100% ;
	margin-top: 5px;
	
}



nav {
	    float: right;
    margin-right: 6%;
    text-align: right;
    position: relative;
    width: 45%;
    right: 120px;
    padding-top: 5px;
}

nav li{
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	border-right: 1px solid #ccc;
	color: #ccc;
}

nav a{
	text-decoration: none;
	color: #ccc;
}

nav a:active{
	color: #4aaaa5;
}

nav a:hover {
	color: #4aaaa5;
	
}






h2 {
	color: #4aaaa5;
	font-size: 20px;
	border-bottom: 3px solid #ccc;
	padding: 20px;
	margin-bottom: 10px;
}

main {
	padding: 40px 0;
    display: block;
    position: relative;
    height: 70%;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
}

#about{
	 float: left;
    width: 45%;
    /* height: 100%; */
    display: inline;
/*    margin-top: 30px;*/
    margin-left: 10%;
    /*margin-right: 5%;*/
    padding: 3% 2%;
    background: #fff;
  /*  padding: 40px;*/
    color: #777777;
  /*  margin-bottom: 40px;*/
    /* margin-right: 10px; */
}

.main3{
	float: left;
	width:  45%;
	/*height: 100%;*/
	display: inline;
	/*margin-top: 30px;*/
	margin-left: 10%;
	padding: 3% 2%;
	background: #fff;
	/*padding: 40px;*/
	color: #777777;	
/*	margin-bottom: 40px;*/
}

#about p{
	width: 100%;
	height: 100%;
	/*display: inline;*/
	font-size: 16px;
	line-height: 1.5em;
	position: relative;
    top: 15px;
    margin: 5px 0;
	


}

#connect{
	 float: right;
    width: 25%;
    /*height: 28%;*/
    display: inline;
  /*  margin: 10px;*/
    background: #fff;
 /*   padding: 40px 80px;*/
/*    margin-top: 30px*/
    /*margin-right: 10%;
*/    padding: 3% 2%;
    margin-right: 15%;
    margin-left: 5%;

	
}

.icon{
	width: 50px;
	height: 50px;
	margin: 10px;
}

footer{
	clear: both;
	position: reletive;
	bottom: 0px;
	text-align: center;
	color: #ccc;
	background-color: #666;
	border-top:  5px solid #4aaaa5;
	width: 100%;
	height: 75px;
	padding: 37.5px;
}

.wrapper{
	background-color: #fff;
	border-bottom: 3px solid #ccc;
	background: #fff;
	display: inline-block;
	width: 100%;
	/*margin-top: 20px;*/

}






.portLi{
	position: relative;
	width: 50%;
	height: 50%;
	display: inline;
	float: left;
	margin: 0 auto;
}

.portimg{
	width: 75%;
	height: 50%;
	display: block;
	margin: 0 auto;
	padding-top: 10px;

}

.portfolioP{
	padding: 10px;
	background: #4aaaa5;
	margin: 0 auto;
	text-align: center;
	width: 75%;
	position: relative; 
	bottom: 40px;
	color: #fff;

}

input{
	width: 100%;
	padding: 6px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;

}
textarea{
	width: 100%;
	margin: 5px 0;
	resize: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

label{
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
button{
	background-color: #4aaaa5;
	padding: 16px 32px;
	border: none;
	text-decoration: none;

}
strong{
	font-size: 1.5em;
	color: #fff;
	
}

#connect h2{
	text-align: center;
}

#profilepic{
	width: 40%;
	float: left;
	padding: 40px;
	margin-left: 10px;
	position: relative;
	bottom: 20px;
}

#connect div{
	position: relative;
    left: 21px;
}






/*Media Queries*/


@media screen and (max-width: 980px) {
 
	.icon{
		margin: 5px;

	}

	#connect div{
		left: 15px;
	}

	h2{
		font-size: 19px;
	}

	#profilepic {
		width: 60%;
		clear: both;
		display: block;
	}

	#aboutH{
		font-size: 25px;
	}

	h1{
		width: 25%;
	}

	.portLi{
		width: 100%;
	}

	nav{
		right: 90px;
	}

	


}

@media screen and (max-width: 768px) {

	#about,
	.main3,
	#connect{
		width: 95%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	#connect{
		width: 95%;
		margin-top: 20px;
		margin-right: 35px;
	}


	#connect h2{
		text-align: left;
	}

	main {
		width: 100%;
		margin-right: 15px;
		margin-left: 15px;
	}

	h1{
		width: 30%;
		right: 60px;
	}

	nav{
		left: 25px;
	}

	.portLi{
		width: 50%;
	}

}

@media screen and (max-width: 640px) {

	.portLi{
		width: 100%;
	}

	h1{
		width: 100%;
	}

	nav{
		text-align: center;
		left: 100px;
	}
}





















